body {
    top: 15px;
    width: 1480px;

    background: #f8f8f9 0% 0% no-repeat padding-box;
}

.elogo {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #eb2929;
    font-family: poppins;
    font-size: 26px;
    padding-left: 15%;
}

.heading {
    top: 117px;
    left: 113px;
    width: 514px;
    height: 51px;
    text-align: left;
    font: normal normal bold 36px/55px Poppins;
    letter-spacing: 0px;

}

.filters {
    top: 195px;
    left: 113px;
    width: 260px;
    height: 715px;
    background: #c9bbe8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

.imageblock {
    top: 195px;
    left: 418px;
    width: 1100px;
    height: 715px;
    background: #f3f7f4cb 0% 0% no-repeat padding-box;
    background-image: url("../assets/images/image.png");

}



.filter {
    height: 25px;
    font-family: Poppins;
    font-size: 18px;
    color: #192f60;
    margin-top: 10px;
    margin-bottom: 30px;
}

.box {
    top: 278px;
    left: 140px;
    width: 170px;
    height: 30px;
    border: 1px solid #9ab2e6;
    border-radius: 7px;
}


.sort {
    top: 756px;
    left: 139px;
    width: 37px;
    height: 25px;
    text-align: left;
    font: normal normal 600 18px/27px Poppins;
    letter-spacing: 0px;
    color: #192F60;
    opacity: 1;
}




.block1 {
    top: 195px;
    left: 418px;
    width: 794px;
    height: 291px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 2px 2px #5a15ef29;
    border: 2px solid rgb(102, 162, 240);
    border-radius: 5px;
}


.block2 {
    top: 520px;
    left: 0px;
    right: 400px;
    width: 794px;
    height: 291px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 2px 2px #5a15ef29;
    border: 2px solid rgb(102, 162, 240);
    border-radius: 5px;
}

.image
{
top: 220px;
left: 453px;
width: 120px;
height: 120px;
align-items: center;
border-radius: 30%;
}

.chill
{
top: 234px;
left: 614px;
width: 303px;
height: 43px;
text-align: left;
font: normal normal 600 30px/46px Poppins;
letter-spacing: 0px;
color: #192F60;
}


.fort
{
top: 282px;
left: 619px;
width: 40px;
height: 23px;
text-align: left;
font: normal normal medium 16px/30px Poppins;
letter-spacing: 0px;
color: #192F60;
}






